:root {
  --background-color: #191b22;
  --light-background-color: #313543;
  --text-color: #d9e1e8;
  --strong-text-color: #ffffff;
  --gray-text-color: #9baec8;
}

html,body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  overflow: hidden auto;
  color: var(--text-color);
  font-size: 20px;
}

h1,h2,h3,h4 {
  color: var(--strong-text-color);
}

h1 {
  display: none;
}

h2 {
  margin-bottom: 48px;
}

img#head-logo {
  width: 400px;
  max-width: 100vw;
}

p.block-content-eyecatch {
  text-align: center;
}

span.emoji-eyecatch {
  font-size: 64px;
}

p#first-block-description {
  margin: 0;
  color: var(--gray-text-color);
}

div#first-block {
  text-align: center;
  margin-bottom: 72px;
}

div.block {
  position: relative;
}

div.block div.block-content {
  max-width: 840px;
  margin: -24px auto 0;
  padding: 112px 20px 72px;
}

div.block-light div.block-content {
  margin-top: 0;
}

div.block.block-light::after {
  content: '';
  background: var(--light-background-color);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skewY(2deg) translateY(48px);
  transform-origin: top right;
}

div.block h2 {
  text-align: center;
}

h2 i.fas {
  margin: 0 12px 0 0;
}

ul.checklist {
  list-style: none;
  padding-left: 24px;
  margin: 0 20px 0 0;
}

ul.checklist li {
  margin: 8px 0;
  font-size: 24px;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
}

ul.checklist li i.fas {
  grid-column: 1 / 2;
  margin-right: 12px;
  font-weight: normal;
  color: #3efa3e;
  display: block;
  transform: translateY(4px);
}

ul.checklist.hand-point-up li i.fas {
  color: #ffb24d;
}

ul.checklist li .list-text {
  grid-column: 2 / 3;
  display: block;
  padding-left: 4px;
}

ul.checklist li div.item-description {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  font-weight: normal;
  font-size: 20px;
  margin: 8px 0 40px 4px;
}
